@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

p {
  display: block;
  margin-block-start: 2px;
  margin-block-end: 2px;
  margin-inline-start: .3rem;
  margin-inline-end: .3rem;
}

button {
  background-color: #708ca5;
  color: #fff;
  font-size: .8rem;
  padding: .3rem .5rem;
  margin: .3rem;
  border-radius: 6px;
  border: none;
}

#map {
  height: 100%;
  width: 100%;
}
